APP_BASE_URL=http://localhost:3008
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=http://localhost:3008/api/tiktok/oauth/callback
TIKTOK_SCOPES=user.info.basic,video.upload
TIKTOK_LIVE_OAUTH=false
TOKEN_ENCRYPTION_KEY=
